<div>
  <form #routineForm="ngForm">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Nombre usuario</mat-label>
          <mat-select placeholder="Día"
            [(ngModel)]="currentDay"
            id="cDay"
            name="cDay"
            #cDay="ngModel">
            <ng-container *ngIf="users">
              <mat-option *ngFor="let user of users"
                [value]="user.id">{{user.name}} {{user.lastName}}</mat-option>
            </ng-container>

          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nombre usuario</mat-label>

          <input matInput
            [(ngModel)]="routineModel.uid"
            id="uid"
            name="uid"
            #uid="ngModel"
            placeholder="Nombre usuario" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Numero rutina</mat-label>

          <input matInput
            [(ngModel)]="routineModel.number"
            id="num"
            name="num"
            #numR="ngModel"
            placeholder="Numero rutina"
            type="number" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Fecha Fin</mat-label>
          <input matInput
            [(ngModel)]="routineModel.endDate"
            [matDatepicker]="picker"
            #pickerM="ngModel"
            id="pickerM"
            name="pickerM"
            placeholder="Fecha Fin" />
          <mat-datepicker-toggle matSuffix
            [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Dia</mat-label>
          <mat-select placeholder="Día"
            [(ngModel)]="currentDay"
            id="cDay"
            name="cDay"
            #cDay="ngModel">
            <mat-option *ngFor="let day of daysArr"
              [value]="day.id">{{day.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <mat-card *ngFor="let block of blocks; let i=index"
      class="shipping-card">
      <mat-card-header>
        <mat-card-title>Bloque {{i + 1}} </mat-card-title>
      </mat-card-header>
      <div class="flex-data-ex">
        <mat-form-field>

          <mat-select [(ngModel)]="block.typeMuscle"
            id="typeMuscleEx"
            name="typeMuscleEx"
            #typeMuscle="ngModel"
            placeholder="Musculo">
            <mat-option value="femoral">Femoral</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card-content>
        <ng-container *ngFor="let numEx of numOfEx">
          <mat-card-subtitle>
            Exercicio {{numEx}}
          </mat-card-subtitle>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline"
                class="full-width">
                <mat-label>Nombre Exercicio</mat-label>
                <input matInput
                  [(ngModel)]="block.exercises[numEx -1].name"
                  id="nameEx"
                  name="nameEx"
                  #nameEx="ngModel"
                  placeholder="Nombre Exercicio" />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline"
                class="full-width">
                <mat-label>Numnero de Reps</mat-label>

                <input matInput
                  [(ngModel)]="block.exercises[numEx -1].reps"
                  id="repsEx"
                  name="repsEx"
                  type="number"
                  #nameEx="ngModel"
                  placeholder="Numnero de Reps" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline"
                class="full-width">
                <mat-label>Descripcion</mat-label>
                <textarea matInput
                  [(ngModel)]="block.exercises[numEx -1].description"
                  id="descriptionEx"
                  name="descriptionEx"
                  #nameEx="ngModel"
                  placeholder="Descripcion"></textarea>
              </mat-form-field>
            </div>
          </div>
        </ng-container>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button
          color="primary"
          (click)="onSubmit(i)">Guardar</button>
      </mat-card-actions>
    </mat-card>
  </form>
  <div>
    <button mat-fab
      (click)="addBlock()"
      class="float-button "
      color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
