@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
$md-mcgpalette0: (
  50: #e2eaed,
  100: #b6cad3,
  200: #85a7b6,
  300: #548498,
  400: #306982,
  500: #0b4f6c,
  600: #0a4864,
  700: #083f59,
  800: #06364f,
  900: #03263d,
  A100: #73beff,
  A200: #40a6ff,
  A400: #0d8eff,
  A700: #0081f2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

// Define an alternate dark theme.
$dark-primary: mat-palette($md-mcgpalette0);
$dark-accent: mat-palette($md-mcgpalette0, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dark-theme);
