/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.top-padding {
  padding-top: 62px;
}
.color-green {
  background-color: #09c372;
  color: white;
}
@media (max-width: 800px) {
  .top-padding {
    padding-top: 56px;
  }
}
